.root {
  position: relative;
  min-width: 0;
  height: 32px;

  --color-icon: #bfbfbf;

  svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: right;
  padding: 4px;
  padding-left: 2px;
  background: #383838;
  border-radius: 5px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  -moz-appearance: textfield; /* Firefox */

  &:focus {
    outline: 2px solid #bfbfbf;
    outline-offset: -1px;
  }
}
