.canvas {
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;

  display: flex;
  gap: 16px;
  padding: 16px;
  border-radius: 29px;

  background: #2c2c2c;
}
