.canvas {
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  bottom: 8px;
  left: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  pointer-events: none;
}

.section {
  display: flex;
  gap: 8px;
  align-items: center;
  pointer-events: auto;
}

.button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background: #1e1e1e;

  &:focus-visible {
    outline: 2px solid #bfbfbf;
    outline-offset: -1px;
  }
}

.equals {
  composes: button;
  user-select: none;
  -webkit-user-select: none;
}
